
	<!-- Top -->
		<div th:include="/fragments/main-top"></div>
	<!-- End-Top -->
	
	<!-- Header -->
	<div th:include="/fragments/main-header"></div>
	<!-- End-Header -->

	<!-- Title Page -->
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(images/heading-pages-02.jpg);">
		<h2 class="l-text2 t-center">
			Women
		</h2>
		<p class="m-text13 t-center">
			New Arrivals Women Collection 2018
		</p>
	</section>
	<!-- End -Title Page -->

	<!-- Product Content -->
	<div th:include="/product/product-content"></div>
	<!-- End-Product Content -->


	<!-- Footer -->
		<div th:include="/fragments/main-footer"></div>
	<!-- End-Footer -->

	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>

	<!-- Bottom -->
		<div th:include="/fragments/main-bottom"></div>
	<!-- End-Bottom -->
